$primary-color: #FF6C36;
$secondary-color: #000000;
$acent-color: #FFFFFF;
$grey-color: #969696;

@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    direction: rtl;
}

.h-100vh{
    height: 100vh;
}

.navbar-toggler{
    border: 1px solid $primary-color;
    &:focus{
        box-shadow: unset !important;

    }
}

.navbar-toggler-icon{
    background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

video[poster]{
    cursor: pointer;
}


[lang="ar"]{
    *{
        direction: rtl;
    }
    input[type="email"]{
        direction: rtl;
    }
}
a{
    text-decoration: none;
}
.text-primary{
    color: $primary-color !important;
}
.text-secondary{
    color: $secondary-color !important;
}
.text-acent{
    color: $acent-color !important;
}
.bg-primary{
    background-color: $primary-color !important;
}
.bg-secondary{
    background-color: $secondary-color !important;
}
.bg-acent{
    background-color: $acent-color !important;
}
.font-xxs{
    font-size: 10px;
}
.font-xs{
    font-size: 12px;
}
.font-sm{
    font-size: 14px;
}
.font-normal{
    font-size: 16px;
}
.font-regular{
    font-size: 18px;
}
.font-lg{
    font-size: 20px;
}
.font-xl{
    font-size: 22px;
}
.font-xxl{
    font-size: 24px;
}
.font-3xl{
    font-size: 28px;
}
.font-4xl{
    font-size: 32px;
}
.font-extra{
    font-size: 36px;
}
.fw-xxs{
    font-weight: 100;
}
.fw-xs{
    font-weight: 200;
}
.fw-sm{
    font-weight: 300;
}
.fw-normal{
    font-weight: 400;
}
.fw-regular{
    font-weight: 500;
}
.fw-lg{
    font-weight: 600;
}
.fw-xl{
    font-weight: 700;
}
.fw-xxl{
    font-weight: 800;
}
.fw-extra{
    font-weight: 900;
}
.of-contain{
    object-fit: contain;
}
.of-cover{
    object-fit: cover;
}
.border-radius-5{
    border-radius: 5px;
}
.border-radius-10{
    border-radius: 10px;
}
.border-radius-15{
    border-radius: 15px;
}
.border-radius-50{
    border-radius: 50px;
}

.modal-dialog-md{
    max-width: 580px;
}

.nice-select{
    display: flex;
    align-items: center;
    height: 50px;
    padding-right: 18px;
    padding-left: 30px;
    border-radius: 12px;
    border: 1px solid #ced4da;
    &:after{
        left: 12px;
        right: unset;
    }
    ul.list{
        width: 100%;
        background-color: #F0FAFF;
        li{
            text-align: right;
            padding-right: 10px;
            padding-left: 18px;
            color: $acent-color;
            &:hover{
                background-color: #F0FAFF !important;
                color: $primary-color;
            }
        }
        .selected{
            background-color: #F0FAFF !important;
            color: $primary-color;
        }
    }
    span.current{
        color: #adadad;
    }
}

#select-lang{
    .nice-select{
        span{
            color: $primary-color !important;
        }
    }
}



.border-none{
    border: none !important;
}

.nice-w-100{
    width: 100%;
    display: flex;
    align-items: center;
}

.order-0{
    order: 0;
}
.order-1{
    order: 1;
}
.order-2{
    order: 2;
}
.order-3{
    order: 3;
}
.order-4{
    order: 4;
}
.order-5{
    order: 5;
}
.order-6{
    order: 6;
}
.order-7{
    order: 7;
}
.order-8{
    order: 8;
}
.order-9{
    order: 9;
}
.order-10{
    order: 10;
}

.padding-10{
    padding: 10px 0px;
}
.padding-20{
    padding: 20px 0px;
}
.padding-30{
    padding: 30px 0px;
}
.padding-40{
    padding: 40px 0px;
}
.padding-50{
    padding: 50px 0px;
}
.padding-60{
    padding: 60px 0px;
}
.padding-70{
    padding: 70px 0px;
}
.padding-80{
    padding: 80px 0px;
}
.padding-90{
    padding: 90px 0px;
}
.padding-100{
    padding: 100px 0px;
}

.max-w-100{
    max-width: 100%;
}
.letter-spacing-normal{
    letter-spacing: 1.5px;
}

.border-transparent{
    border-color: transparent !important;
}

.w-500{
    width: 500px;
}

input{
    height: 40px;
    border-radius: 5px;
    overflow: visible;
    &::placeholder{
        color: #adadad !important;
        font-size: 14px;
    }
}
select{
    height: 40px;
    border-radius: 5px;
    color: #adadad !important;
    font-size: 14px;
}
textarea{
    border-radius: 5px;
    &::placeholder{
        color: #adadad !important;
        font-size: 14px;
    }
}

.main-btn{
    padding: 8px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F0F0F0;
    background-color: $primary-color;
    border: 1px solid $primary-color;
    border-radius: 5px;
    transition: all 0.3s;
    font-size: 16px;
    &:hover, &:active{
        @extend .hovered-btn;
    }
}
.hovered-btn{
    padding: 8px 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-color;
    background-color: #FFFFFF;
    border: 1px solid $primary-color;
    border-radius: 5px;
    transition: all 0.3s;
}

.direction-ltr{
    direction: ltr
}

p{
    @extend .text-acent;
    @extend .fw-normal;
    @extend .font-normal;
    line-height: 1.9;
}

.form-control:focus{
    box-shadow: unset !important;
    border-color: $primary-color;
}
.form-group{
    margin-bottom: 25px;
}



@media(max-width: 550px){
    .font-xxs{
        font-size: 6px;
    }
    .font-xs{
        font-size: 8px;
    }
    .font-sm{
        font-size: 12px;
    }
    .font-normal{
        font-size: 12px;
    }
    .font-regular{
        font-size: 14px;
    }
    .font-lg{
        font-size: 16px;
    }
    .font-xl{
        font-size: 18px;
    }
    .font-xxl{
        font-size: 20px;
    }
    .font-3xl{
        font-size: 22px;
    }
    .font-4xl{
        font-size: 26px;
    }
    .font-extra{
        font-size: 30px;
    }
    .mt-3-sm{
        margin-top: 1rem;
    }
    .mb-3-sm{
        margin-bottom: 1rem;
    }
    .mb-4-sm{
        margin-bottom: 1.5rem;
    }
    .mb-0-sm{
        margin-bottom: 0 !important;
    }
    .mb-1-sm{
        margin-bottom: 0.5rem !important;
    }
    .mb-2-sm{
        margin-bottom: 0.75rem !important;
    }
    .mb-3-sm{
        margin-bottom: 1rem !important;
    }
    .mb-4-sm{
        margin-bottom: 1.5rem !important;
    }
    .mb-5-sm{
        margin-bottom: 3rem !important;
    }
    .justify-content-between-sm{
        justify-content: space-between !important;
    }
    .justify-content-around-sm{
        justify-content: space-around !important;
    }
    .align-items-center-sm{
        align-items: center;
    }
    .py-4-sm{
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .text-center-sm{
        text-align: center;
    }
    .order-0-sm{
        order: 0;
    }
    .order-1-sm{
        order: 1;
    }
    .order-2-sm{
        order: 2;
    }
    .order-3-sm{
        order: 3;
    }
    .order-4-sm{
        order: 4;
    }
    .order-5-sm{
        order: 5;
    }
    .order-6-sm{
        order: 6;
    }
    .order-7-sm{
        order: 7;
    }
    .order-8-sm{
        order: 8;
    }
    .order-9-sm{
        order: 9;
    }
    .order-sm-10{
        order: 10;
    }
}

@media(min-width: 551px) and (max-width: 990px){
    
}