@import 'custom';

.navbar-toggler-icon{
    filter: invert(1);
}

header{
    nav{
        .nav-link{
            &:hover{
                color: $primary-color !important;
            }
        }
    }
}
.slider{
    .slide-img{
        height: 500px;
        width: 100%;
    }
}

section{
    padding: 60px 0px;
    .tab-links{
        padding: 15px 10px 0px;
        border: 1px solid #D0D0D0;
        .nav-link{
            margin-bottom: 20px;
        }
        .nav-link.active{
            color: $primary-color !important;
        }
    }
    table{
        thead{
            tr{
                background-color: #F1F5F9;
            }
        }
        .remaining-date{
            color: #68D8BD;
        }
        .bordered{
            border: 1px solid #E0E0E0;
            border-bottom: none;
            border-top: none;
        }
        .table-row-item{
            &:last-of-type{
                .bordered{
                    border-bottom: 1px solid #E0E0E0 !important;
                }
            }
        }
    }
    .profile-card{
        display: unset;
    }
    .profile-picture{
        padding: 10px;
        border: 1px solid #D5D2D2;
        height: 90px;
        width: 90px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    select{
        color: $secondary-color;
        option{
            color: $secondary-color;
        }
    }
    #mobile_code{
        padding-left: 100px;
    }
    #country_code{
        position: absolute;
        left: 15px;
        bottom: 8px;
        width: 65px;
        border-top: 0;
        border-bottom: 0;
        border-left: 0;
        border-right: 1px solid $secondary-color;
        height: 20px;
        border-radius: 0px;
        &:focus{
            border: none;
        }
        &:focus-visible{
            outline: none !important;
        }
    }
    .add-new-device{
        width: 500px;
        margin-right: auto;
        margin-left: auto;
    }

    //OTP

    .verification-code--inputs input[type=text]
    {
        border: 2px solid #e1e1e1;
        width: 92px;
        height: 46px;
        padding: 10px;
        text-align: center;
        display: inline-block;
        box-sizing:border-box;
    }

    .resend-link-1-div{
        margin-top: 100px;
    }
    .resend-link-2{
        display: none;
        margin-top: 25px;
    }
    #counter{
        margin-bottom: 25px;
    }
    .btnGroup{
        margin-top: 80px;
    }
    .logo-container{
        height: 100px;
        width: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid #D0D0D0;
        border-radius: 50%;
    }
    .good-day-section{
        margin-top: 80px;
    }
}

.footer{
    padding: 30px 0px !important;
    .footer-logo{
        position: absolute;
        left: 15px;
        top: 15px;
    }
}

footer{
    padding: 10px 0 25px;
}

@import 'responsive'